body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav { 
    background-color: white;
    text-transform: uppercase;
    margin-bottom: 0em;
    color: black;
    border-top: 0.5em solid orange;
  
    // padding: 2em 0; // Solo para ver el menu dentro de su contenedor
    ul {
        display: table; 
        width: 100%; 
        table-layout: fixed; // paso 5. Para evitar que el tamaño de la celda sea en función del contenido 
        li{
            display: table-cell; 
            text-align: center; 
            
            }

            }
            
            
            a {
                padding: 1em; //Para se subraye un poco más que la palabra
                display: inline-block; //da el permiso al padding para subrayar lo señalado
                transition: border-bottom 0.5s ease; //Tiempo que va a tardar en salirnos la raya al completo debajo de la celda del menu.
                border-bottom: 4px solid transparent;
                &:hover { //etiqueta para el subrayado de la celda del menu donde este el puntero.
                    border-bottom: 4px solid orangered;
                }
            }  
            
         }
    

main {
    background-color: gray ;
    height: 200px;
}